<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>Node.js 게시판</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>게시판</h1>
		</div>
	</header>
	<div class="container">
		<section>
			<p>등록되었습니다.</p>				
			<hr>
			<div class="form-group text-center">
				<a href="/board/3" class="btn btn-default">글확인</a>
				<a href="/board/" class="btn btn-primary">목록</a>
			</div>
		</section>
	</div>
	<footer>
		<div class="container">
			<p class="text-muted">게시판 정책 및 약관 회사소개 광고 마이비즈니스제휴 제안 이용약관 개인정보취급방침 청소년보호 정책 고객센터</p>
		</div>
	</footer>
</body>
</html>